*{margin: 0;
    
    padding: 0;
    list-style: none;
    text-decoration: none;}
    header{
        position: fixed;
        left: 0;
        right: 0;
        width: 100%;
        background-color: black;
        height:50px;
        display:flex;
        
    }
    .log{color: white;}
    .log:hover{color: orangered;}
    
    ul{
        display: flex;
        padding-left: 70px;
        color:white;
    }
    ul li{
        padding-left: 20px;
        color: white;
    }
    ul li a{color: white;}
    .con{padding-right: 0%;color: white;
        border: solid white;
    
background-color: black;
width: 100px;
margin-left: 20px;
margin-bottom:20px;
height: 40px;
border-radius:30px;
text-align:center;}
.con a{color: white;}
    .con:hover{background-color: orangered;}
    span{color: red;}
    ul li a:hover{color: orangered;}
    .sec{
        position: relative;
        top: 300px;
        left: 90px;
    }
    .img1{
        position: fixed;
        left: 470px;
        top: 280px;
    }